
.env
.DS_Store
._.DS_Store
.htaccess
composer.lock
node_modules/
*/node_modules/
package-lock.json
cache/*
logs/*
assets/
vendor/
nbproject/
.idea/*
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.pyc
*.~
*.bak
*.BAK
*.kpf
*.komodoproject
.~lock.*
dev.db
db.sqlite3
__pycache__
.idea/*
.project
.settings/*
.idea/*
.vscode/*
